<!------------------- Section About-us--- Inha------------------------------>

<section class="about-section">
  <div class="about-container">
    <div class="about-text-container">
      <h2 class="about-section-title section-title" id="about_us">About us</h2>
      <h3 class="about-title title">
        Our craftsmanship: creating unique handmade furniture
      </h3>
      <p class="section-text">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-list list">
        <li class="about-item">
          <p class="about-item-numbers">5+</p>
          <p class="about-item-text section-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-item">
          <p class="about-item-numbers">100%</p>
          <p class="about-item-text section-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-item">
          <p class="about-item-numbers">500+</p>
          <p class="about-item-text section-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <div class="about-picture-container">
      <picture>
        <source
          srcset="
            ./img/about/about-mob-1x.jpg 1x,
            ./img/about/about-mob-2x.jpg 2x
          "
          media="(max-width:767px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/about/about-mob-1x.webp 1x,
            ./img/about/about-mob-2x.webp 2x
          "
          media="(max-width:767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/about/about-tab-1x.jpg 1x,
            ./img/about/about-tab-2x.jpg 2x
          "
          media="(max-width:1439px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/about/about-tab-1x.webp 1x,
            ./img/about/about-tab-2x.webp 2x
          "
          media="(max-width:1439px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/about/about-desk-1x.jpg 1x,
            ./img/about/about-desk-2x.jpg 2x
          "
          media="(min-width:1440px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/about/about-desk-1x.webp 1x,
            ./img/about/about-desk-2x.webp 2x
          "
          media="(min-width:1440px)"
          type="image/webp"
        />
        <img
          src="./img/about/about-mob-1x.jpg"
          alt="White sofa"
          class="about-img"
        />
      </picture>
    </div>
  </div>
</section>
