<section class="section" id="bestsellers">
  <div class="container">
    <h2 class="bestsellers-description">Bestsellers</h2>
    <ul class="bestsellers-mainlist">
      <li class="bestsellers-list">
        <picture>
          <source
            srcset="./images/pc-bed.jpg 1x, ./images/pc-bed-2x.jpg 2x"
            media="(min-width:1440px)"
          />
          <source
            srcset="./images/tablet-bed.jpg 1x, ./images/tablet-bed-2x.jpg 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/mobile-bed.jpg 1x, ./images/mobile-bed-2x.jpg 2x"
            media="(min-width:320px)"
          />
          <img src="./images/pc-bed.jpg" alt="Bed" loading="lazy" />
        </picture>
        <div class="container-team">
          <h3 class="bestsellers-names">The modern platform bed</h3>
          <p class="bestsellers-price">750$</p>
        </div>
      </li>
      <li class="bestsellers-list">
        <picture>
          <source
            srcset="./images/pc-lounge.jpg 1x, ./images/pc-lounge-2x.jpg 2x"
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/tablet-lounge-chair.jpg    1x,
              ./images/tablet-lounge-chair-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile-lounge-chair.jpg    1x,
              ./images/mobile-lounge-chair-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img src="./images/pc-lounge.jpg" alt="Lounge_Chair" loading="lazy" />
        </picture>
        <div class="container-team">
          <h3 class="bestsellers-names">The Cozy Lounge Chair</h3>
          <p class="bestsellers-price">230$</p>
        </div>
      </li>
      <li class="bestsellers-list">
        <picture>
          <source
            srcset="
              ./images/pc-industrial.jpg    1x,
              ./images/pc-industrial-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="./images/ta
					./images/tablet-industrial-chair.jpg    1x,
					./images/tablet-industrial-chair-2x.jpg 2x
				 "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile-industrial-chair.jpg     1x,
              ../images/mobile-industrial-chair-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/pc-industrial.jpg"
            alt="Industrial_Chaid"
            loading="lazy"
          />
        </picture>
        <div class="container-team">
          <h3 class="bestsellers-names">The industrial ancient chair</h3>
          <p class="bestsellers-price">250$</p>
        </div>
      </li>
      <li class="bestsellers-list mobile-hidden">
        <picture>
          <source
            srcset="./images/pc-stand.jpg 1x, ./images/pc-stand-2x.jpg 2x"
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/tablet-stand.jpg    1x,
              ./images/tablet-stand-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img src="./images/pc-stand.jpg" alt="Stand" loading="lazy" />
        </picture>
        <div class="container-team">
          <h3 class="bestsellers-names">The sleek stand</h3>
          <p class="bestsellers-price">300$</p>
        </div>
      </li>
      <li class="bestsellers-list mobile-hidden">
        <picture>
          <source
            srcset="./images/pc-sofa.jpg 1x, ./images/pc-sofa-2x.jpg 2x"
            media="(min-width:1440px)"
          />
          <source
            srcset="./images/tablet-sofa.jpg 1x, ./images/tablet-sofa-2x.jpg 2x"
            media="(min-width:768px)"
          />
          <img src="./images/pc-sofa.jpg" alt="Sofa" loading="lazy" />
        </picture>
        <div class="container-team">
          <h3 class="bestsellers-names">The minimalist sofa</h3>
          <p class="bestsellers-price">650$</p>
        </div>
      </li>
    </ul>
  </div>
</section>
