<section class="section" id="bestsellers">
  <div class="container">
    <h2 class="bestsellers-description">Bestsellers</h2>
    <ul class="bestsellers-mainlist">
      <li class="bestsellers-list">
        <picture>
          <source
            srcset="
              ../img/bestsellers/pc-bed.jpg    1x,
              ../img/bestsellers/pc-bed-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../img/bestsellers/tablet-bed.jpg    1x,
              ../img/bestsellers/tablet-bed-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../img/bestsellers/mobile-bed.jpg    1x,
              ../img/bestsellers/mobile-bed-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img src="../img/bestsellers/pc-bed.jpg" alt="Bed" loading="lazy" />
        </picture>
        <div class="container-team">
          <h3 class="bestsellers-names">The modern platform bed</h3>
          <p class="bestsellers-price">750$</p>
        </div>
      </li>
      <li class="bestsellers-list">
        <picture>
          <source
            srcset="
              ../img/bestsellers/pc-lounge.jpg    1x,
              ../img/bestsellers/pc-lounge-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../img/bestsellers/tablet-lounge-chair.jpg    1x,
              ../img/bestsellers/tablet-lounge-chair-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../img/bestsellers/mobile-lounge-chair.jpg    1x,
              ../img/bestsellers/mobile-lounge-chair-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="../img/bestsellers/pc-lounge.jpg"
            alt="Lounge_Chair"
            loading="lazy"
          />
        </picture>
        <div class="container-team">
          <h3 class="bestsellers-names">The Cozy Lounge Chair</h3>
          <p class="bestsellers-price">230$</p>
        </div>
      </li>
      <li class="bestsellers-list">
        <picture>
          <source
            srcset="
              ../img/bestsellers/pc-industrial.jpg    1x,
              ../img/bestsellers/pc-industrial-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../img/bestsellers/tablet-industrial-chair.jpg    1x,
              ../img/bestsellers/tablet-industrial-chair-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../img/bestsellers/mobile-industrial-chair.jpg    1x,
              ../img/bestsellers/mobile-industrial-chair-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="../img/bestsellers/pc-industrial.jpg"
            alt="Industrial_Chaid"
            loading="lazy"
          />
        </picture>
        <div class="container-team">
          <h3 class="bestsellers-names">The industrial ancient chair</h3>
          <p class="bestsellers-price">250$</p>
        </div>
      </li>
      <li class="bestsellers-list mobile-hidden">
        <picture>
          <source
            srcset="
              ../img/bestsellers/pc-stand.jpg    1x,
              ../img/bestsellers/pc-stand-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../img/bestsellers/tablet-stand.jpg    1x,
              ../img/bestsellers/tablet-stand-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img
            src="../img/bestsellers/pc-stand.jpg"
            alt="Stand"
            loading="lazy"
          />
        </picture>
        <div class="container-team">
          <h3 class="bestsellers-names">The sleek stand</h3>
          <p class="bestsellers-price">300$</p>
        </div>
      </li>
      <li class="bestsellers-list mobile-hidden">
        <picture>
          <source
            srcset="
              ../img/bestsellers/pc-sofa.jpg    1x,
              ../img/bestsellers/pc-sofa-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../img/bestsellers/tablet-sofa.jpg    1x,
              ../img/bestsellers/tablet-sofa-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img src="../img/bestsellers/pc-sofa.jpg" alt="Sofa" loading="lazy" />
        </picture>
        <div class="container-team">
          <h3 class="bestsellers-names">The minimalist sofa</h3>
          <p class="bestsellers-price">650$</p>
        </div>
      </li>
    </ul>
  </div>
</section>
