<section class="clients">
      <div class="container">
        <h2 class="section-title">Clients reviews</h2>
        <div class="clients-wrap">
          <ul class="client-list">
            <li class="client-item">
              <div class="wrap-img">
                <img src="./clients-reviews-images/images/client-retina/optimize/client-1-pc-1x-min.png" alt="Alexandra dream" width="56" height="56" />
                <div class="wrap-title">
                  <h3 class="client-subtitle">Alexandra dream</h3>
                  <span class="client-accent">1 week ago</span>
                </div>
              </div>
              <p class="client-text">I was blown away by the quality and craftsmanship of the furniture I received from this company. Each piece was unique and beautifully designed, and you can tell that a lot of thought and care goes into every detail.</p>
            </li>
            <li class="client-item">
              <div class="wrap-img">
                <img src="./clients-reviews-images/images/client-retina/optimize/client-2-pc-1x-min.png" alt="James Williams" width="56" height="56" />
                <div class="wrap-title">
                  <h3 class="client-subtitle">James Williams</h3>
                  <span class="client-accent">A week ago</span>
                </div>
              </div>
              <p class="client-text">The "Minimal" furniture set is a fantastic addition to my home. It boasts a minimalist design, enhancing the feel and look of my living space. The sturdy construction is worth noting too, which speaks volumes about its durability.</p>
            </li>
            <li class="client-item">
              <div class="wrap-img">
                <img src="./clients-reviews-images/images/client-retina/optimize/client-3-pc-1x-min.png" alt="Emily Watson" width="56" height="56" />
                <div class="wrap-title">
                  <h3 class="client-subtitle">Emily Watson</h3>
                  <span class="client-accent">3 week ago</span>
                </div>
              </div>
              <p class="client-text">The "Minimal" furniture set has far exceeded my expectations. The sleek design combined with the high-quality materials have not only added an exceptional aesthetic to my space but also offered an uncompromising standard of comfort.</p>
            </li>
          </ul>
        </div>
      </div>
    </section>