<footer class="footer">
  <div class="footer-container">
    <div class="footer-svg">
      <div class="footer-logo">
        <a href="" target="_blank" class="footer-logo-link">
          <svg class="footer-logo-icon" width="100" height="16">
            <use href="./img/symbol-defs.svg#icon-LOGO"></use>
          </svg>
        </a>
      </div>
      <div class="footer-media-icon">
        <ul class="footer-list-svg">
          <li class="footer-item-svg">
            <a
              href="https://www.facebook.com"
              target="_blank"
              class="footer-svg-link"
            >
              <svg class="footer-social-svg" width="28" height="28">
                <use href="./img/symbol-defs.svg#icon-facebook-logo"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item-svg">
            <a
              href="https://www.instagram.com"
              target="_blank"
              class="footer-svg-link"
            >
              <svg class="footer-social-svg" width="28" height="28">
                <use href="./img/symbol-defs.svg#icon-instagram-logo"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item-svg">
            <a
              href="https://www.youtube.com"
              target="_blank"
              class="footer-svg-link"
            >
              <svg class="footer-social-svg" width="28" height="28">
                <use href="./img/symbol-defs.svg#icon-youtube-logo"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-menu">
      <ul class="footer-menu-list">
        <li class="footer-menu-item">
          <a href="#About_us" class="footer-menu-link link">About us</a>
        </li>
        <li class="footer-menu-item">
          <a href="#Our_products" class="footer-menu-link link">Our products</a>
        </li>
        <li class="footer-menu-item">
          <a href="#Prices" class="footer-menu-link link">Prices</a>
        </li>
        <li class="footer-menu-item">
          <a href="#Bestsellers" class="footer-menu-link link">Bestsellers</a>
        </li>
        <li class="footer-menu-item">
          <a href="#Reviews" class="footer-menu-link link">Reviews</a>
        </li>
      </ul>
    </div>
    <div class="footer-adress">
      <ul class="footer-adress-list">
        <li class="footer-adress-item">
          <a href="https://www.google.com/maps" class="footer-adress-link link"
            >Obolonsky Prospect, 14, Kyiv</a
          >
        </li>
        <li class="footer-adress-item">Daily 10:00-21:00</li>
      </ul>
    </div>
    <div class="footer-contacts-number">
      <ul class="footer-number-list">
        <li class="footer-number-item">
          <a href="tel:+380669384758" class="footer-contacts-link link"
            >+380669384758</a
          >
        </li>
        <li class="footer-number-item">
          <a href="tel:+380679384758" class="footer-contacts-link link"
            >+380679384758</a
          >
        </li>
        <li class="footer-number-item">
          <a
            href="mailto:minimal.furniture@gmail.com"
            class="footer-contacts-link link hiddan-mail"
            >minimal.furniture@gmail.com</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-privacy">
      By using this website, you agree to the
      <a href="#" class="footer-privacy-polisy link">Terms of Service</a>
      and <a href="#" class="footer-privacy-polisy link">Privacy Policy</a>
    </p>
  </div>
</footer>
