<footer
  class="footer"
  id="contacts"
>
  <div class="container footer-container">
    <div class="footer-svg">
      <div class="footer-logo">
        <a
          href="../index.html"
          target="_blank"
          class="footer-logo-link"
          aria-label="title-page"
        >
          <svg
            class="footer-logo-icon"
            width="100"
            height="16"
          >
            <use href="./img/sprites.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <div class="footer-media-icon">
        <ul class="footer-list-svg">
          <li class="footer-item-svg">
            <a
              href="https://www.facebook.com"
              target="_blank"
              class="footer-svg-link"
              aria-label="facebook-link"
            >
              <svg
                class="footer-social-svg"
                width="28"
                height="28"
              >
                <use href="./img/sprites.svg#icon-ph_facebook-logo"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item-svg">
            <a
              href="https://www.instagram.com"
              target="_blank"
              class="footer-svg-link"
              aria-label="instagram-link"
            >
              <svg
                class="footer-social-svg"
                width="28"
                height="28"
              >
                <use href="./img/sprites.svg#icon-ph_instagram-logo"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item-svg">
            <a
              href="https://www.youtube.com"
              target="_blank"
              class="footer-svg-link"
              aria-label="youtube-link"
            >
              <svg
                class="footer-social-svg"
                width="28"
                height="28"
              >
                <use href="./img/sprites.svg#icon-ph_youtube-logo"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-menu">
      <ul class="footer-menu-list">
        <li class="footer-menu-item">
          <a
            href="#about_us"
            class="footer-menu-link link"
            aria-label="section-about-us"
          >About us</a>
        </li>
        <li class="footer-menu-item">
          <a
            href="#our_products"
            class="footer-menu-link link"
            aria-label="section-our-products"
          >Our products</a>
        </li>
        <li class="footer-menu-item">
          <a
            href="#prices"
            class="footer-menu-link link"
            aria-label="section-prices"
          >Prices</a>
        </li>
        <li class="footer-menu-item">
          <a
            href="#bestsellers"
            class="footer-menu-link link"
            aria-label="section-bestsellers"
          >Bestsellers</a>
        </li>
        <li class="footer-menu-item">
          <a
            href="#reviews"
            class="footer-menu-link link"
            aria-label="section-reviews"
          >Reviews</a>
        </li>
      </ul>
    </div>
    <div class="footer-adress">
      <ul class="footer-adress-list">
        <li class="footer-adress-item">
          <a
            href="https://www.google.com/maps"
            class="footer-adress-link link"
            target="_blank"
            aria-label="google-maps-address"
          >Obolonsky Prospect, 14, Kyiv</a>
        </li>
        <li class="footer-adress-item">Daily 10:00-21:00</li>
      </ul>
    </div>
    <div class="footer-contacts-number">
      <ul class="footer-number-list">
        <li class="footer-number-item">
          <a
            href="tel:+380669384758"
            class="footer-contacts-link link"
            aria-label="phone-number-vodafone"
          >+380669384758</a>
        </li>
        <li class="footer-number-item">
          <a
            href="tel:+380679384758"
            class="footer-contacts-link link"
            aria-label="phone-number-kyivstar"
          >+380679384758</a>
        </li>
        <li class="footer-number-item">
          <a
            href="mailto:minimal.furniture@gmail.com"
            class="footer-contacts-link link hiddan-mail"
            aria-label="email"
          >minimal.furniture@gmail.com</a>
        </li>
      </ul>
    </div>
    <p class="footer-privacy">
      By using this website, you agree to the
      <a
        href="#"
        class="footer-privacy-polisy link"
        aria-label="privacy-polisy"
      >Terms of Service</a>
      and <a
        href="#"
        class="footer-privacy-polisy link"
        aria-label="privacy-polisy"
      >Privacy Policy</a>
    </p>
  </div>
</footer>