<header class="header">
    <div class="container">
        <nav class="header-nav">
            <a
                class="logo-header"
                aria-label="title-page"
                href="../index.html"
            >
                <svg
                    class="icon-logo"
                    width="100"
                    height="16"
                >
                    <use href="./img/sprites.svg#icon-logo"></use>
                </svg>
            </a>
            <button
                class="header-btn-open"
                aria-label="burger-menu"
                type="button"
                data-menu-open
            >
                <svg
                    class="icon-btn-mob"
                    width="32"
                    height="32"
                >
                    <use href="./img/sprites.svg#icon-align-justify"></use>
                </svg>
            </button>
            <ul class="list-nav">
                <li class=""><a
                        class="link-nav"
                        href="#about_us"
                    >About us</a></li>
                <li class=""><a
                        class="link-nav"
                        href="#our_products"
                    >Our products</a></li>
                <li class=""><a
                        class="link-nav"
                        href="#prices"
                    >Prices</a></li>
                <li class=""><a
                        class="link-nav"
                        href="#bestsellers"
                    >Bestsellers</a></li>
                <li class=""><a
                        class="link-nav"
                        href="#reviews"
                    >Reviews</a></li>
                <li class=""><a
                        class="link-nav"
                        href="#contacts"
                    >Contacts</a></li>
            </ul>
        </nav>
    </div>
    <div
        class="mobile-menu is-hidden"
        data-menu
    >
        <div class="top-menu-mob container">
            <a
                class=""
                href="../index.html"
            >
                <svg
                    class="icon-logo"
                    width="100"
                    height="16"
                >
                    <use
                        class=""
                        href="./img/sprites.svg#icon-logo"
                    ></use>
                </svg>
            </a>
            <button
                class="close-btn"
                data-menu-close
            >
                <svg
                    class="icon-btn-mob"
                    width="32"
                    height="32"
                >
                    <use href="./img/sprites.svg#icon-x"></use>
                </svg>
            </button>
        </div>
        <ul class="list-mob-menu">
            <li class="list-item-menu"><a
                    class="link-nav-menu"
                    href="#about_us"
                    data-menu-close
                >About us</a></li>
            <li class="list-item-menu"><a
                    class="link-nav-menu"
                    href="#our_products"
                    data-menu-close
                >Our products</a></li>
            <li class="list-item-menu"><a
                    class="link-nav-menu"
                    href="#prices"
                    data-menu-close
                >Prices</a></li>
            <li class="list-item-menu"><a
                    class="link-nav-menu"
                    href="#bestsellers"
                    data-menu-close
                >Bestsellers</a></li>
            <li class="list-item-menu"><a
                    class="link-nav-menu"
                    href="#reviews"
                    data-menu-close
                >Reviews</a></li>
            <li class="list-item-menu"><a
                    class="link-nav-menu"
                    href="#contacts"
                    data-menu-close
                >Contacts</a></li>
        </ul>

    </div>
</header>