<section class="section-hero">
    <div class="foon container">
        <div class="wrap-hero">
            <h1 class="hero-title">Modern and minimalist furniture for you</h1>
            <div class="hero-title-wrap">
                <p class="hero-text">Add a touch of elegance to your space with handcrafted furniture pieces</p>
                <a
                    class="hero-link"
                    href="#Newsletter"
                >Subscribe</a>
            </div>
            <!-- для мого посилання має бути id="Newsletter" -->
        </div>
    </div>
</section>