<section class="our-products-section wrapper">
  <div class="container">
    <h2 class="section-title products-title" id="our_products">Our Products</h2>
    <div class="swiper image-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/our-products/desk-dresser-1x.webp 1x,
                  ./img/our-products/desk-dresser-2x.webp 2x
                "
                media="(min-width:1440px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/our-products/tab-dresser-1x.webp 1x,
                  ./img/our-products/tab-dresser-2x.webp 2x
                "
                media="(max-width:1439px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/our-products/mob-dresser-1x.webp 1x,
                  ./img/our-products/mob-dresser-2x.webp 2x
                "
                media="(max-width:767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/our-products/desk-dresser-1x.jpg 1x,
                  ./img/our-products/desk-dresser-2x.jpg 2x
                "
                media="(min-width:1440px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/our-products/tab-dresser-1x.jpg 1x,
                  ./img/our-products/tab-dresser-2x.jpg 2x
                "
                media="(max-width:1439px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/our-products/mob-dresser-1x.jpg 1x,
                  ./img/our-products/mob-dresser-2x.jpg 2x
                "
                media="(max-width:767px)"
                type="image/jpeg"
              />
              <img
                src="./img/our-products/mob-dresser-1x.jpg"
                alt="dresser"
                class="image"
                width="344"
              />
            </picture>
            <p class="section-text our-products-text">
              Minimalist storage solutions
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/our-products/desk-sofa-1x.webp 1x,
                  ./img/our-products/desk-sofa-2x.webp 2x
                "
                media="(min-width:1440px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/our-products/tab-sofa-1x.webp 1x,
                  ./img/our-products/tab-sofa-2x.webp 2x
                "
                media="(max-width:1439px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/our-products/mob-sofa-1x.webp 1x,
                  ./img/our-products/mob-sofa-2x.webp 2x
                "
                media="(max-width:767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/our-products/desk-sofa-1x.jpg 1x,
                  ./img/our-products/desk-sofa-2x.jpg 2x
                "
                media="(min-width:1440px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/our-products/tab-sofa-1x.jpg 1x,
                  ./img/our-products/tab-sofa-2x.jpg 2x
                "
                media="(max-width:1439px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/our-products/mob-sofa-1x.jpg 1x,
                  ./img/our-products/mob-sofa-2x.jpg 2x
                "
                media="(max-width:767px)"
                type="image/jpeg"
              />
              <img
                src="./img/our-products/mob-sofa-1x.jpg"
                alt="sofa"
                class="image"
                width="344"
              />
            </picture>
            <p class="section-text our-products-text">
              Handcrafted minimalist seating
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/our-products/desk-table-1x.webp 1x,
                  ./img/our-products/desk-table-2x.webp 2x
                "
                media="(min-width:1440px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/our-products/tab-table-1x.webp 1x,
                  ./img/our-products/tab-table-2x.webp 2x
                "
                media="(max-width:1439px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/our-products/mob-table-1x.webp 1x,
                  ./img/our-products/mob-table-2x.webp 2x
                "
                media="(max-width:767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/our-products/desk-table-1x.jpg 1x,
                  ./img/our-products/desk-table-2x.jpg 2x
                "
                media="(min-width:1440px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/our-products/tab-table-1x.jpg 1x,
                  ./img/our-products/tab-table-2x.jpg 2x
                "
                media="(max-width:1439px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/our-products/mob-table-1x.jpg 1x,
                  ./img/our-products/mob-table-2x.jpg 2x
                "
                media="(max-width:767px)"
                type="image/jpeg"
              />
              <img
                src="./img/our-products/mob-table-1x.jpg"
                alt="table"
                class="image"
                width="344"
              />
            </picture>
            <p class="section-text our-products-text">
              Sleek and simple tables
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <picture>
              <source
                srcset="
                  ./img/our-products/desk-chair-1x.webp 1x,
                  ./img/our-products/desk-chair-2x.webp 2x
                "
                media="(min-width:1440px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/our-products/tab-chair-1x.webp 1x,
                  ./img/our-products/tab-chair-2x.webp 2x
                "
                media="(max-width:1439px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/our-products/mob-chair-1x.webp 1x,
                  ./img/our-products/mob-chair-2x.webp 2x
                "
                media="(max-width:767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/our-products/desk-chair-1x.jpg 1x,
                  ./img/our-products/desk-chair-2x.jpg 2x
                "
                media="(min-width:1440px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/our-products/tab-chair-1x.jpg 1x,
                  ./img/our-products/tab-chair-2x.jpg 2x
                "
                media="(max-width:1439px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/our-products/mob-chair-1x.jpg 1x,
                  ./img/our-products/mob-chair-2x.jpg 2x
                "
                media="(max-width:767px)"
                type="image/jpeg"
              />
              <img
                src="./img/our-products/mob-chair-1x.jpg"
                alt="chair"
                class="image"
                width="344"
              />
            </picture>
            <p class="section-text our-products-text">
              Minimalist seating for every space
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
