
    <section class="price">
      <div class="container">
        <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price.</h2>
        <ul class="price-list">
          <li class="price-list-item">
            <p class="price-text-left section-text">Chairs</p>
            <p class="price-text-right section-text">from 200$</p>
          </li>
          <li class="price-list-item">
            <p class="price-text-left section-text">Tables</p>
            <p class="price-text-right section-text">from 250$</p>
          </li>
          <li class="price-list-item">
            <p class="price-text-left section-text">Dressers</p>
            <p class="price-text-right section-text">from 300$</p>
          </li>
          <li class="price-list-item">
            <p class="price-text-left section-text">Sofas</p>
            <p class="price-text-right section-text">from 500$</p>
          </li>
        </ul>
      </div>
    </section>
