<section class="subscribe" id="subscribe">
  <div class="container">
    <div class="subcont">
      <div class="subcontainer">
        <h2 class="section-title sub-section-title" id="newsletter">
          Newsletter
        </h2>
        <p class="section-text sub-section-text">
          Every week we will send you new designs and information about sales.
        </p>
        <form action="#" class="subscribe-form">
          <div class="wrap-subscribe-input">
            <input
              type="text"
              class="subscribe-input"
              minlength="2"
              maxlength="16"
              required
              placeholder="Name"
              name="user-name"
            />
            <svg class="subscribe-icon-error" width="24" height="24">
              <use
                href="./img/sprites.svg#icon-ic_baseline-error-outline"
              ></use>
            </svg>
          </div>
          <div class="wrap-subscribe-input">
            <input
              type="email"
              class="subscribe-input"
              minlength="2"
              maxlength="16"
              required
              placeholder="E-mail"
              name="user-email"
            />
            <svg class="subscribe-icon-error" width="24" height="24">
              <use
                href="./img/sprites.svg#icon-ic_baseline-error-outline"
              ></use>
            </svg>
          </div>
          <div class="checkbox-subscribe-input">
            <input
              type="checkbox"
              class="subscribe-check visually-hidden"
              id="subscribe-user"
              name="user-checkbox"
              value="true"
            />
            <label for="subscribe-user" class="subscribe-label-text">
              <span class="check-span">
                <svg class="subscribe-icon-check" width="13" height="13">
                  <use href="./img/sprites.svg#icon-check"></use>
                </svg>
              </span>
              <span class="subscribe-accent"
                >Agree to subscribe to the newsletter</span
              >
            </label>
          </div>
          <button
            type="submit"
            class="subscribe-form-btn"
            data-modal-open
            aria-label="Send"
            
          >
            Send
          </button>
        </form>
      </div>
      <div class="subscribe-pic">
        <picture class="subscribe-picture">
          <source
            srcset="
              ./img/subscribe-images/images/retina/dt-product-14-1x.jpg 1x,
              ./img/subscribe-images/images/retina/dt-product-14-2x.jpg 2x
            "
            media="(min-width:1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/subscribe-images/images/retina/tab-product-11-1x.jpg 1x,
              ./img/subscribe-images/images/retina/tab-product-11-2x.jpg 2x
            "
            media="(min-width:768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/subscribe-images/images/retina/mob-product-7-1x.jpg 1x,
              ./img/subscribe-images/images/retina/mob-product-7-2x.jpg 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />
          <img
            src="./img/subscribe-images/images/retina/tab-product-11-1x.jpg"
            alt="Book on the table near sofa"
            width="704"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
<!-- ------------------modal-send------------------ -->
<div class="subscribe-backdrop is-hidden" data-modal>
  <!-- <div class="subscribe-backdrop" data-modal> -->
  <div class="subscribe-modal">
    <button class="subscribe-modal-close-btn" data-modal-close type="button">
      <svg class="subscribe-modal-svg" width="24" height="28">
        <use href="../img/sprites.svg#icon-x"></use>
      </svg>
    </button>
    <h3 class="sub-mod-title section-text">Thanks for subscribing!</h3>
    <p class="sub-mod-text  section text">
      Welcome to a world where everyone uses our furniture with pleasure and
      enjoyment.
    </p>
    <img class="sub-mod-img" src="../img/bestsellers/tablet-sofa.jpg" alt="sofa">
  </div>
</div>
