/*------------------- Section About-us--- Inha------------------------------*/
.about-section {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 375px) {
    .about-section {
        max-width: 375px;


    }
}

@media screen and (min-width: 768px) {
    .about-section {
        padding-top: 100px;
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .about-section {
        max-width: 1440px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

.about-container {
    padding-top: 64px;
    background: var(--light-blue, #F7FAFF);
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

@media screen and (min-width: 768px) {
    .about-container {
        padding-top: 0;
        background-color: var(--white);
        gap: 30px;
    }
}

@media screen and (min-width: 1440px) {
    .about-container {
        flex-wrap: nowrap;
        align-items: center;
        gap: 24px;
    }
}

.about-text-container {
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 768px) {
    .about-text-container {
        padding: 36px 64px;
        background: var(--light-blue, #F7FAFF);
    }
}

@media screen and (min-width: 1140px) {
    .about-text-container {
        padding: 36px 69px;
    }
}

.about-section-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--blue-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--blue-font);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .about-title {
        font-size: 28px;
        line-height: 1.4;
    }
}

@media screen and (min-width: 1440px) {
    .about-title {
        font-size: 32px;
    }
}

.about-section-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: var(--blue-font);
}

.section-text {
    margin-top: 0;
    margin-bottom: 30px;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;

}

@media screen and (min-width: 768px) {
    .about-list {
        flex-direction: row;
        gap: 33px;
    }
}

@media screen and (min-width: 1440px) {
    .about-list {
        gap: 56px;
    }
}

.about-item {
    margin: 0 auto;
    width: 170px;
}

@media screen and (min-width: 768px) {
    .about-item {
        width: calc((100% - 66px) / 3);
    }
}

@media screen and (min-width: 1440px) {
    .about-item {
        width: calc((100% - 112px) / 3);
    }
}

.about-item-numbers {
    margin-top: 0;
    margin-bottom: 14px;
    color: var(--blue-font);
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
    .about-item-numbers {
        margin-bottom: 23px;
    }
}

.about-item-text {
    text-align: center;
    margin-bottom: 0;
}

.about-picture-container {
    width: 100%;
}

@media screen and (min-width: 1440px) {
    .about-picture-container {
        max-width: 536px;
    }
}

.about-img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}