.container {
	max-width: 375px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 auto;
 }
 @media screen and (min-width: 768px) {
	.container {
	max-width: 768px;
	padding-left: 32px;
	padding-right: 32px;
	}
 }
 @media screen and (min-width: 1440px) {
	.container {
	  max-width: 1440px;
	  padding-left: 172px;
	  padding-right: 172px;
	}
 }
.section {
padding: 64px 0;
}
@media screen and (min-width:768px) {
	.section {
		padding: 100px 0;
	}
}
/* === display:none === */
		/* === bestsellers SECTION === */
		.bestsellers-description {
			font-size: 28px;
			line-height: 1.5;
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
			color: var(--blue-font);
			margin-bottom: 21px;
		}
		@media screen  and (min-width:768px){
			.bestsellers-description {
				font-size: 32px;
				line-height: 1,41;
			}
		}

		.bestsellers-mainlist {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}
		@media screen and (min-width:768px) {
			.bestsellers-mainlist {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: center;
				gap: 32px 32px;
			}
		}
		@media screen and (min-width:1440px) {
			.bestsellers-mainlist {
		
			}
		}

		.bestsellers-list {
			max-width: max-content;
			background-color: var();
			color: var();
		}
		.mobile-hidden {
			display: none;
		}
		@media screen and (min-width:768px) {
			.mobile-hidden {
				display: inline;
			}
			
		}
		.bestsellers-names {
			color: var(--blue-font);
			font-weight: 400;
			font-size: 16px;
			line-height: 1.5;
			margin-top: 14px;
			margin-bottom: 10px;
		}
		@media screen and (min-width:768px) {
			.bestsellers-names {
				font-size: 18px;
				margin-top: 15px;
			}
			
		}
		.bestsellers-price {
			color: var(--blue-font);
			font-size: 16px;
			font-weight: 700;
			line-height: 1.5;
		}
		@media screen and (min-width:768px) { 
			.bestsellers-price {
				font-size: 18px;
			}
		}