/* === VARIABLES === */
/* === BASE STYLES === */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text);
  background-color: var(--white-background);
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* === COMPONENT STYLES === */
/* .container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 172px;
    padding-right: 172px;
  }
} */
.section {
  padding: 64px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}
/* === display:none === */
/* === bestsellers SECTION === */
.bestsellers-description {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--blue-font);
  margin-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .bestsellers-description {
    font-size: 32px;
    line-height: 1, 41;
  }
}

.bestsellers-mainlist {
  display: grid;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .bestsellers-mainlist {
    grid-template-areas:
      "first first"
      "first first"
      "second third"
      "fourth fifth";
  }

  .bestsellers-list {
    grid-area: first;
  }

  .bestsellers-list:nth-child(2) {
    grid-area: second;
  }

  .bestsellers-list:nth-child(3) {
    grid-area: third;
  }

  .bestsellers-list:nth-child(4) {
    grid-area: fourth;
  }

  .bestsellers-list:nth-child(5) {
    grid-area: fifth;
  }
}

@media screen and (min-width: 1440px) {
  .bestsellers-mainlist {
    grid-template-areas:
      "first first second third"
      "first first fourth fifth";
    gap: 30px 22px;
  }
}

.mobile-hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile-hidden {
    display: inline;
  }
}

.container-team {
  display: grid;
  gap: 10px;
  padding-top: 10px;
}

.bestsellers-names {
  color: var(--blue-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .bestsellers-names {
    font-size: 18px;
  }
}
.bestsellers-price {
  color: var(--blue-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .bestsellers-price {
    font-size: 18px;
  }
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.div5 {
  grid-area: 2 / 3 / 3 / 4;
}
