.products-title {
    margin-bottom: 33px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .products-title {
        margin-bottom: 30px;
    }
}

.our-products-text {
    text-align: left;
}

.swiper {
    width: 288px;
    height: 340px;
    text-align: center;
}

@media screen and (min-width: 375px) {
    .swiper {
        width: 343px;
        height: 340px;
    }
}

@media screen and (min-width: 768px) {
    .swiper {
        width: 704px;
        height: 340px;
    }
}

@media screen and (min-width: 1440px) {
    .swiper {
        width: 1320px;
        height: 340px;
    }
}

.image-slider {
    padding: 33px 0 64px 0;
}

@media screen and (min-width: 768px) {
    .image-slider {
        padding: 30px 0 100px 0;
    }
}

.image-wrapper {
    text-align: center;
}

/*
@media screen and (min-width: 375px) {
    .image-wrapper {
        width: 343px;
        height: 300px;
    }
}

@media screen and (min-width: 768px) {
    .image-wrapper {
        width: 344px;
        height: 300px;
    }
}

@media screen and (min-width: 1440px) {
    .image-wrapper {
        width: 312px;
        height: 300px;
    }
}*/

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 16px;
}

/* стилі для стрілок, що перемикабть слайди */
.image-slider .swiper-button-next::after,
.image-slider .swiper-button-prev::after {
    color: #0A224A;
    font-size: 90px;
}


/* кастомна пагінаці */

.image-slider .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: rgba(17, 17, 17, 0.553);
}

.image-slider .swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    border-radius: 32px;
    background: #0A224A;
}