
/* PRICES */

.price {
  padding-top: 64px;
  padding-bottom: 64px;
}

.price-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0a224a;
  height: 102px;
  max-width: 343px;
  position: relative;
  overflow: hidden; 
}

.price-list-item:first-child {
  border-top: 1px solid #0a224a;
}

.price-text-left {
  color: var(--blue-font);
font-family: Roboto;
font-size: 28px;
font-weight: 400;
line-height: 1.5;
text-transform: uppercase;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.price-list-item:hover .price-text-left {
  transform: translateX(50px);
}


.price-text-left::before {
  content: " ";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #0a224a;
  top: 50%;
  left: -50px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}


.price-text-right {
color: var(--blue-font);
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 1.5;
text-align: right;
margin-left: auto;
}




/* MEDIA */

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {

  .price {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .price-list-item {
    height: 105px;
    max-width: 704px;
  }

  .price-text-left {
    font-size: 32px;
    line-height: 1.4;
  }

  .price-text-right {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {

  .price {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .price-list-item {
    max-width: 1096px;
    margin: 0 auto;
  }
}