/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .page-title {
    color: var(--blue-font, #0a224a);
    font-family: Playfair Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    /* 150% */
    text-transform: uppercase;
  }
  .section-title {
    color: var(--blue-font, #0a224a);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    /* 150% */
    text-transform: uppercase;
  }
  .title {
    color: var(--blue-font, #0a224a);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    /* 150% */
    text-transform: uppercase;
  }
  .section-text {
    color: var(--blue-font, #0a224a);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
  }
}

@media screen and (min-width: 768px) {
  .page-title {
    color: var(--blue-font, #0a224a);
    font-family: Playfair Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    /* 150% */
    text-transform: uppercase;
  }
  .section-title {
    color: var(--blue-font, #0a224a);
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    /* 140.625% */
    text-transform: uppercase;
  }
  .title {
    color: var(--blue-font, #0a224a);
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    /* 140.625% */
    text-transform: uppercase;
  }
  .section-text {
    color: var(--blue-font, #0a224a);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    /* 150% */
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}