

.container {
  /* max-width: 1440px;
  width: 100%; */
  margin: 0 auto;
}
.subcont {
    width: 100%;
  padding: 64px 0px;
  /* display: flex; */
  flex-wrap: wrap;
}

.subcontainer {
  max-width: 536px;
  width: 100%;
}

.sub-section-title {
  text-align: center;
}

/* .section-title {
  color: var(--blue-font, #0a224a);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
    line-height: 1.5;
  text-transform: uppercase;
} */
/* .section-text { 
    font-family: Roboto;
  font-size: 16px;
    font-weight: 400;
  line-height: 1.5;
} */

.sub-section-text {
   margin-top: 31px;
  margin-bottom: 21px;
  max-width: 536px;
  width: 100%;
}

.subscribe-input {
  margin-bottom: 20px;
  max-width: 536px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--dark-grey, #b6b6b6);
  padding-left: 20px;
   font-size: 18px;
  
  line-height: 1.5; 
}

.subscribe-accent {
  margin-left: 8px;

  color: var(--black-gray, #7A7A7A);
  font-family: Roboto;
  font-size: 16px;
    line-height: 1.5;
}

.subscribe-form-btn {
  background: var(--blue-font, #0a224a);
  color: var(--white);
  padding: 17px 65px;
  margin-top: 30px;
  margin-bottom: 30px;
 font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
  animation: blink 3s linear infinite;
  background: #0A224A
}
/* ---------Animation of button-------- */
@keyframes blink {
  0%, 20% {
    background: #a9a5a5;
  }
  10% {
    background: rgb(248, 245, 245);
  }
}



.subscribe-input:focus:invalid {
  border: 1px solid var(--error-state);
  color: var(--error-state);
  outline: none;
}

/* ---------------znak okliku---------------------------------- */
.wrap-subscribe-input {
  position: relative;
  display: inline-block;
  max-width: 536px;
  width: 100%;
}
.subscribe-icon-error {
  position: absolute;
  top: 0;
  right: 0;
  margin: 13px 20px 14px auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.subscribe-input:focus:invalid + .subscribe-icon-error {
  fill: var(--error-state);
}
.subscribe-input:hover {
  border: 2px solid var(--hover-state);
  color: var(--hover-state);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* --------------------------------------------------------------- */

.subscribe-form-btn:hover {
  background-color: #061835;
}

.check-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 25px;
  height: 25px;
  border: 1px solid var(--dark-grey, #b6b6b6);
  border-radius: 2px;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 350ms
      cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-check:checked + .subscribe-label-text .check-span {
  background-color: var(--blue-font);
  border: none;
  fill: var(--white);
}

.subscribe-input::placeholder {
  color: var(--grey, #d9d9d9);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.subscribe-input:hover {
  border-color: var(--hover-state);
  color: var(--hover-state);
}



/* ------------------------------------------------------------------ */
@media screen and (min-width: 1440px) {
  .subcont {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* padding: 100px 140px 86px; */
    gap: 100px;
  }
  /* .section-title {  
  font-size: 32px;
  line-height: 1.41;
 } */



  .sub-section-title {
/*    margin-top: 31px;
  margin-bottom: 21px; */
  text-align: left;
 }

.wrap-subscribe-input {
    max-width: 536px;
  }

.subscribe-pic {
    max-width: 460px;
  }
  /* .section-text {
    color: var(--blue-font, #0a224a);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
  } */


  .subscribe-input {
    margin-bottom: 22px;
  }

  .subscribe-form-btn {
    margin-top: 31px;
    margin-bottom: 0;
  }

  .subscribe-accent {
        font-size: 18px;    
}

.subscribe-form-btn {
   font-size: 18px;
  }

}

/* ------------------------------------------------------------------ */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .subcontainer {
    max-width: 536px;
  }
  /* .section-title {  
   font-size: 32px;
     line-height: 1.41;
  } */
  .section-text {
                                                
    font-size: 18px;
  }

  .sub-section-title {
    text-align: left;
  }
  .sub-section-text{
     margin-bottom: 20px;
  }

  .subscribe-accent {
        font-size: 18px;
    
}
  .subcont {
    padding: 100px 32px;
    /* display: flex; */
    flex-wrap: wrap;
  }
  .subscribe-form-btn {  
  margin-top: 31px;
  margin-bottom: 64px;  
}
.subscribe-form-btn {
   font-size: 18px;
  }

}
